<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dairy_pro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <dairy_pro.Properties.Settings>
            <setting name="select_music_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="company_site_url" serializeAs="String">
                <value>http://test1234.com</value>
            </setting>
            <setting name="programmer_name" serializeAs="String">
                <value>Bleer30</value>
            </setting>
            <setting name="production_year" serializeAs="String">
                <value>2008 - 2022</value>
            </setting>
            <setting name="User_name" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="User_pass" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="last_memo_id" serializeAs="String">
                <value>0</value>
            </setting>
        </dairy_pro.Properties.Settings>
    </userSettings>
</configuration>